form{
	/*width: 100%;*/
	/*height: 80vh;*/
	/*height: auto;*/
	/*margin-top: 3em;*/
	/*display: grid;
	align-items: center;*/
}
input{
	/*border:none;*/
	/*outline:none;*/
	/*background-color: transparent;*/
	/*border-bottom: 1px solid #48dbfb;*/
	/*border-radius: 0;*/
	font-family: IBM Plex Mono;
	letter-spacing: 2px;
	font-weight: bolder;
}
textarea{
	/*background-color: transparent;*/
	/*resize: none;*/
	font-family: IBM Plex Mono;
	letter-spacing: 2px;
	font-weight: bolder;
	font-size: 1.3rem
}