form{

	input{
		font-family: IBM Plex Mono;
		letter-spacing: 2px;
		font-weight: bolder;
	}
	textarea{
		font-family: IBM Plex Mono;
		letter-spacing: 2px;
		font-weight: bolder;
		font-size: 1.3rem
	}
}
